---
import { type CollectionEntry, getCollection, render } from "astro:content";
import { Image } from "astro:assets";

import BaseLayout from "@/layouts/BaseLayout.astro";

import SeoPost from "@/components/SeoPost.astro";

import { formatDate } from "@/lib/util";

interface Props {
  entry: CollectionEntry<"blog">;
}

export async function getStaticPaths() {
  const blog = await getCollection("blog");
  return blog.map((entry) => ({
    params: { id: entry.id },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await render(entry);
---

<BaseLayout>
  <SeoPost slot="head" entry={entry} />
  <div>
    {
      entry.data.image && (
        <Image
          src={entry.data.image}
          alt={entry.data.imageAlt || ""}
          class="mb-12 h-auto w-full"
          draggable="false"
        />
      )
    }
    <h1
      class="text-ink dark:text-dark-ink text-3xl leading-snug font-bold text-balance"
    >
      {entry.data.title}
    </h1>
    <p class="text-ink-muted dark:text-dark-ink-muted mt-1">
      {entry.data.description}
    </p>
    <p class="text-ink-muted dark:text-dark-ink-muted mt-1 text-sm">
      {formatDate(entry.data.publicationDate)}
    </p>
    <hr
      class="border-ink-muted dark:border-ink-muted my-12 border-[0.5px] opacity-10 dark:opacity-15"
    />
    <div class="prose">
      <Content />
    </div>
    <hr
      class="border-ink-muted dark:border-ink-muted my-12 border-[0.5px] opacity-10 dark:opacity-15"
    />
  </div>
</BaseLayout>
